@media only screen and (max-width: 1200px) {
  .section__text__p1 {
    font-size: 2rem;
  }
  .title {
    font-size: 2.4rem;
  }
  .section__text__p2 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1020px) {
  .section-container {
    gap: 2rem;
  }
  .section__pic-container {
    width: 400px;
    height: 400px;
    margin-top: 5rem;

    /* background-color: yellow; */
  }
}
@media only screen and (max-width: 833px) {
  nav {
    /* background-color: red; */
    display: flex;
    justify-content: center;
  }
  .nav-links {
    display: none;
  }
  .section-container {
    height: auto;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0rem;
  }
  .section__text {
    /* background-color: violet; */
    margin-top: 2rem;
  }
  .section__pic-container {
    width: 400px;
    height: 400px;
    margin-top: 1rem;

    /* background-color: yellow; */
  }
}
@media only screen and (max-width: 478px) {
  .section__pic-container {
    width: 250px;
    height: 250px;
    margin-top: 1rem;

    /* background-color: yellow; */
  }
  .section__text__p1 {
    font-size: 1.5rem;
  }
  .title {
    font-size: 2rem;
  }
  .section__text__p2 {
    font-size: 2rem;
  }
}
