@media only screen and (max-width: 1200px) {
  .section__text__p1 {
    font-size: 2rem;
  }
  .title {
    font-size: 2.4rem;
  }
  .section__text__p2 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1020px) {
  .section-container {
    gap: 2rem;
  }
  .section__pic-container {
    width: 400px;
    height: 400px;
    margin-top: 5rem;

    /* background-color: yellow; */
  }
}
@media only screen and (max-width: 833px) {
  nav {
    /* background-color: red; */
    display: flex;
    justify-content: center;
  }
  .nav-links {
    display: none;
  }
  .section-container {
    height: auto;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0rem;
  }
  .section__text {
    /* background-color: violet; */
    margin-top: 2rem;
  }
  .section__pic-container {
    width: 400px;
    height: 400px;
    margin-top: 1rem;

    /* background-color: yellow; */
  }
}
@media only screen and (max-width: 478px) {
  .section__pic-container {
    width: 250px;
    height: 250px;
    margin-top: 1rem;

    /* background-color: yellow; */
  }
  .section__text__p1 {
    font-size: 1.5rem;
  }
  .title {
    font-size: 2rem;
  }
  .section__text__p2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 963px) {
  #About-page {
    height: 80rem;
  }
  .About-Container {
    height: 70rem;
    gap: 4rem;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
  }
  .About-pic-container {
    /* background-color: orange; */
    display: flex;

    height: 400px;
    width: 400px;
  }
  .About-pic-container img {
    /* width: 100%; */
    border-radius: 50%;
    display: block;
    width: 400px;
    height: 400px;
  }
}
@media only screen and (max-width: 500px) {
  .About-Container-intro-1 {
    display: flex;
    flex-direction: column;
  }
  .About-pic-container {
    height: 300px;
    width: 300px;
  }
  .About-pic-container img {
    height: 300px;
    width: 300px;
  }
  .E-C {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
}
@media only screen and (max-width: 1233px) {
  #projects {
    margin-top: 6rem;
  }
  .projects-container {
    height: 110rem;
  }
  @media only screen and (max-width: 826px) {
    #projects {
      height: 200rem;
    }
    .projects-container {
      height: 190rem;
    }
    .project-div {
      width: 16rem;
      height: 22rem;
    }
    .project-img {
      border-radius: 2rem;
      width: 12rem;
      height: 12rem;
    }
  }
  @media only screen and (max-width: 1000px) {
    .contact-info {
      /* background-color: rgb(54, 209, 54); */
      display: flex;
      flex-direction: column;
    }
    .email a {
      font-size: 1rem;
    }
    .Linkedin-link a {
      font-size: 1rem;
    }
  }
}
